e-services/RichiestaRegistriPraticheRifiutiPerConservazione/schema-pratica-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="http://interop.servizirl.it/schema/pratica/1.0" 
xmlns:pi="http://www.impresainungiorno.gov.it/schema/base" 
xmlns:ps="http://www.impresainungiorno.gov.it/schema/suap/pratica" 
xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" 
targetNamespace="http://interop.servizirl.it/schema/pratica/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="it">Pratica</xs:documentation>
		<xs:documentation xml:lang="it">
			Versione 1.0
	    </xs:documentation>
	</xs:annotation>
	<!-- <xs:import namespace="http://interop.servizirl.it/schema/muta/1.0" schemaLocation="schema-muta.xsd"/> -->
	<!-- <xs:import namespace="http://interop.servizirl.it/schema/scia/1.0" schemaLocation="schema-scia.xsd"/> -->
	<xs:import namespace="http://www.impresainungiorno.gov.it/schema/base" schemaLocation="impresainungiorno.gov_tipi_elementari-1.0.0.xsd"/>
	<xs:import namespace="http://www.impresainungiorno.gov.it/schema/suap/pratica" schemaLocation="pratica_suap-1.0.1.xsd"/>
	<xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="swaref.xsd"/>
	<!-- <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/> -->
	<!-- <xs:element name="Pratica" type="praticaType"/> -->
	<xs:element name="Pratica" type="praticaType"/>
	<xs:complexType name="praticaType">
		<xs:sequence>
			<!-- <xs:element name="IntestazionePratica" type="intestazionePraticaType"/> -->
			<!-- <xs:element name="RiepilogoPratica" type="ps:RiepilogoPraticaSUAP"/> -->
			<!-- 
			<xs:element name="EstremiMittente" type="ps:EstremiEnte"/>
			<xs:element name="EstremiDestinatari" type="ps:EstremiEnte" maxOccurs="unbounded"/>
			<xs:element name="TipoComunicazione" type="xs:string"/>
		<xs:element name="TestoComunicazione" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoProcedimento" type="xs:string"/>
 -->
			<xs:element ref="RiferimentoPratica"/>
			<xs:element name="Allegati" type="allegatiPraticaType"/>
			<!-- <xs:element name="TracciatiPratica" type="strutturaPraticaType" minOccurs="0"/> -->
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="intestazionePraticaType">
		<xs:sequence>
			<xs:element name="Dichiarante" type="ps:EstremiDichiarante"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<xs:complexType name="strutturaPraticaType">
		<xs:sequence>
			<xs:element name="Struttura" type="ps:Struttura"/>
			<xs:element name="AllegatoXmlModelloAttivita" type="allegatoXmlModelloAttivitaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="strutturaPraticaType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="TracciatoPratica" type="tracciatoPraticaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tracciatoPraticaType" abstract="true">
		<xs:attribute name="nome-file" type="ps:TipoFileAllegatoModelloAttivita" use="required"/>
	</xs:complexType>
	<xs:complexType name="tracciatoPraticaSciaType">
		<xs:complexContent>
			<xs:extension base="tracciatoPraticaType">
				<xs:sequence>
					<xs:choice>
						<xs:element ref="scia:sciaAvvioModificaAttivita"/>
						<xs:element ref="scia:sciaSubCesSosRipCamAttivita"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tracciatoPraticaGenericaType">
		<xs:complexContent>
			<xs:extension base="tracciatoPraticaType">
				<xs:sequence>
					<xs:element name="ModelloAttivita" type="xs:anyType"/>
				</xs:sequence>
				<xs:attribute name="tipo-pratica" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	<!--
	<xs:complexType name="allegatoType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="filename" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	-->
	<!--
	<xs:complexType name="allegatiPraticaType">
		<xs:sequence>
			<xs:element name="AllegatoPratica" type="allegatoPraticaType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<xs:complexType name="allegatiPraticaType">
		<xs:sequence>
			<xs:element name="AllegatoPratica" type="allegatoAbstractType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="allegatoPraticaType">
		<xs:sequence>
			<xs:element name="file-ref" type="wsi:swaRef"/>
		</xs:sequence>
		<xs:attribute name="nome-file" type="xs:string" use="required"/>
		<xs:attribute name="mime" type="ps:MimeType" use="required"/>
		<xs:attribute name="formato" type="formatoAllegatoType" use="required"/>
		<xs:attribute name="tipo" type="tipoAllegatoType" use="required"/>
		<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
	</xs:complexType>
	-->
	<xs:simpleType name="formatoAllegatoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCUMENTO_XML"/>
			<xs:enumeration value="DISTINTA"/>
			<xs:enumeration value="PRATICA_COMPLETA"/>
			<xs:enumeration value="ALTRO"/>
			<!-- <xs:enumeration value="PRATICA_SUAP_COMPLETA"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoAllegatoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MODELLO_RIEPILOGO"/>
			<xs:enumeration value="MODELLO_ATTIVITA"/>
			<xs:enumeration value="PROCURA_SPECIALE"/>
			<xs:enumeration value="ALTRO"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
	<xs:complexType name="allegatiPraticaType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="AllegatoDistintaModelloRiepilogo" type="allegatoDistintaModelloRiepilogoType"/>
				<xs:element name="AllegatoXmlModelloRiepilogo" type="allegatoXmlModelloRiepilogoType"/>
				<xs:element name="AllegatoDistintaModelloAttivita" type="allegatoDistintaModelloAttivitaType" maxOccurs="unbounded"/>
				<xs:element name="AllegatoXmlModelloAttivita" type="allegatoXmlModelloAttivitaType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AllegatoProcuraSpeciale" type="allegatoProcuraSpecialeType" minOccurs="0"/>
				<xs:element name="AllegatoXmlProcuraSpeciale" type="allegatoXmlProcuraSpecialeType" minOccurs="0"/>
				<xs:element name="AllegatoPraticaGenerico" type="allegatoPraticaGenericoType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="AllegatoGenerico" type="allegatoGenericoType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="AllegatoPraticaZip" type="allegatoPraticaZipType"/>
				<xs:element name="AllegatoGenerico" type="allegatoGenericoType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	-->
	<xs:complexType name="allegatoAbstractType" abstract="true">
		<xs:sequence>
			<xs:element name="descrizione" type="xs:string" minOccurs="0"/>
			<!-- <xs:element name="file-ref" type="wsi:swaRef"/> -->
			<xs:choice>
				<xs:element name="embedded-file-ref" type="wsi:swaRef"/>
				<xs:element name="external-file-link" type="xs:anyURI"/>
				<xs:element name="file-available-on-demand" type="xs:boolean" fixed="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="mime" type="ps:MimeType" use="required"/>
		<xs:attribute name="digest" type="noEmptyStringType"/>
	</xs:complexType>
	<xs:complexType name="allegatoDistintaModelloRiepilogoType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="TipoFileAllegatoDistintaModelloRiepilogo" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DISTINTA"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="MODELLO_RIEPILOGO"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required" fixed="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoXmlModelloRiepilogoType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="TipoFileAllegatoModelloRiepilogoXML" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DOCUMENTO_XML"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="MODELLO_RIEPILOGO"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoDistintaModelloAttivitaType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="ps:TipoFileAllegatoDistintaModelloAttivita" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DISTINTA"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="MODELLO_ATTIVITA"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required" fixed="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoXmlModelloAttivitaType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="ps:TipoFileAllegatoModelloAttivita" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DOCUMENTO_XML"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="MODELLO_ATTIVITA"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoProcuraSpecialeType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="ps:TipoFileAllegatoDistinta" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DISTINTA"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="PROCURA_SPECIALE"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoXmlProcuraSpecialeType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="ps:TipoFileAllegatoXML" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="DOCUMENTO_XML"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="PROCURA_SPECIALE"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoPraticaGenericoType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="ps:TipoFileAllegatoGenerico" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="ALTRO"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoGenericoType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="xs:string" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="ALTRO"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="allegatoPraticaZipType">
		<xs:complexContent>
			<xs:extension base="allegatoAbstractType">
				<xs:attribute name="nome-file" type="xs:string" use="required"/>
				<xs:attribute name="formato" type="formatoAllegatoType" use="required" fixed="PRATICA_COMPLETA"/>
				<xs:attribute name="tipo" type="tipoAllegatoType" use="required" fixed="ALTRO"/>
				<xs:attribute name="firma-digitale" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TipoFileAllegatoModelloRiepilogoXML">
		<xs:annotation>
			<xs:documentation>
            CF-GGMMAAAA-HHMM.SUAP.xml
            Es: DPRTNT00A01A012T-08072010-1733.SUAP.XML
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(([A-Z]{6}[0-9A-Z][0-9LMNPQRSTUV][ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z])|([0-9]{11}))-[0-3]\d[0-1]\d\d{4}-[0-2]\d[0-5]\d\.[Ss][Uu][Aa][Pp]\.[Xx][Mm][Ll]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  
    -->
	<xs:simpleType name="TipoFileAllegatoDistintaModelloRiepilogo">
		<xs:annotation>
			<xs:documentation>
            CF-GGMMAAAA-HHMM.SUAP.PDF.P7M   o   CF-GGMMAAAA-HHMM.SUAP.PDF 
            Es: DPRTNT00A01A012T-08072010-1733.SUAP.pdf.p7m
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(([A-Z]{6}[0-9A-Z][0-9LMNPQRSTUV][ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z])|([0-9]{11}))-[0-3]\d[0-1]\d\d{4}-[0-2]\d[0-5]\d\.[Ss][Uu][Aa][Pp]\.[Pp][Dd][Ff](\.[Pp]7[Mm])?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RiferimentoPratica" type="refPraticaType"/>
	<xs:complexType name="refPraticaType">
		<xs:annotation>
			<xs:documentation>
            N.B. L'elemento Impresa e' opzionale per generalita' ma deve essere sempre popolato in caso di pratica SUAP.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- <xs:element name="CodicePratica" type="codicePraticaType" minOccurs="0"/> -->
			<!-- <xs:element name="CodicePratica" type="codicePraticaType"/> -->
			<!-- <xs:element name="TipoProcedimento" type="tipoProcedimentoType"/> -->
			<!-- <xs:element name="EnteCompetente" type="estremiEnteType"/> -->
			<!-- <xs:element name="Protocollo" type="ps:FormatoProtocollo" minOccurs="0"/> -->
			<xs:group ref="campiChiavePraticaGroup"/>
			
			<!-- <xs:element name="OggettoPratica" type="ps:OggettoComunicazione" />  -->
			
			<xs:element name="Impresa" type="ps:AnagraficaImpresa" minOccurs="0"/>
			<xs:element name="Dichiarante" type="dichiaranteEstesoType" minOccurs="0"/>
			<!-- <xs:element name="DomicilioElettronicoDichiarante" type="pi:EMail" minOccurs="0" /> -->
			<!-- Estremi del responsabile del procedimento -->
			<!-- <xs:element name="Responsabile" type="pi:Anagrafica" minOccurs="0"/>  -->
			<!-- Estremi del richiedente del procedimento -->
			<!-- <xs:element name="Richiedente" type="pi:AnagraficaCompleta" minOccurs="0"/>  -->
			<xs:element name="Richiedente" type="pi:Anagrafica" minOccurs="0"/>
			<xs:element name="ProcuraSpeciale" type="ps:ProcuraSpeciale" minOccurs="0"/>
			<xs:element name="Impianto" type="ps:ImpiantoProduttivo" minOccurs="0"/>
			<xs:element name="ComuneInteressato" type="pi:Comune" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="campiChiavePraticaGroup">
		<xs:annotation>
			<xs:documentation>
            N.B. L'elemento Protocollo e' opzionale solo nel caso di primo upload della pratica.
        </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodicePratica" type="codicePraticaType"/>
			
			<xs:element name="OggettoPratica" type="oggettoComunicazioneEstesoType" />
			<!-- Eliminato TipoProcedimento in quanto ridondante rispetto alla informazione ocntenuta in OggettoPratica -->
			<!-- <xs:element name="TipoProcedimento" type="tipoProcedimentoType"/>  -->
			<!-- 
			<xs:choice>
				<xs:element name="TipoProcedimentoDPR160" type="tipoProcedimentoDPR160Type"/>
				<xs:element name="TipoProcedimentoAltro" type="tipoProcedimentoAltroType"/>
			</xs:choice>
			 -->
			<!-- <xs:element name="EnteCompetente" type="estremiEnteType"/> -->
			
			<xs:choice>
				<xs:element name="SuapCompetente" type="ps:EstremiSuap"/>
				<xs:element name="EnteCompetente" type="ps:EstremiEnte"/>
			</xs:choice>
			<xs:element name="Protocollo" type="ps:FormatoProtocollo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	
	<xs:complexType name="dichiaranteEstesoType">
		<xs:annotation>
			<xs:documentation>
            Tipo dichiarante definito in ImpresaInUnGiorno esteso con indirizzo email (domicilio elettronico)
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ps:EstremiDichiarante">
				<xs:sequence>
					<xs:element name="domicilioElettronico" type="pi:EMail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--
	<xs:element name="PraticaResponse" type="rispostaPraticaType"/>
	<xs:complexType name="praticaResponseType">
		<xs:choice>
			<xs:element name="PraticaSCIAResponse" type="muta:SCIAResponseType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="esitoUploadType">
		<xs:sequence>
			<xs:element name="Eccezione" type="eccezioneUploadType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="esito" type="xs:string" use="required"/>
		<xs:attribute name="descrizione" type="xs:string"/>
		<xs:attribute name="data" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:complexType name="eccezioneUploadType">
		<xs:attribute name="tipo" type="xs:string" use="required"/>
		<xs:attribute name="descrizione" type="xs:string"/>
	</xs:complexType>
-->
	<!--
	<xs:complexType name="allegatiRicevutaType">
		<xs:sequence>
			<xs:element name="AllegatoRicevuta" type="allegatoAbstractType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
-->
	<!-- Spostato da siap-schema-notificapratica-types.xsd -->
	<xs:complexType name="istatEnteType">
		<xs:choice>
			<xs:element name="Comune" type="istatComuneType"/>
			<xs:element name="Provincia" type="istatProvinciaType"/>
		</xs:choice>
	</xs:complexType>
	<!-- Spostato da siap-schema-notificapratica-types.xsd -->
	<xs:simpleType name="istatComuneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Spostato da siap-schema-notificapratica-types.xsd -->
	<xs:simpleType name="istatProvinciaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Spostato da siap-schema-esitipratica-types.xsd -->
	<xs:simpleType name="noEmptyNumericStringType">
		<xs:annotation>
			<xs:documentation xml:lang="it">
        11/03/2011 - Stringa numerica non vuota.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Da schema-muta.xsd -->
	<xs:simpleType name="noEmptyStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="[^\s].*"/>
			<!-- la stringa non puo iniziare con uno spazio -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codicePraticaType">
		<xs:restriction base="noEmptyStringType"/>
		<!-- <xs:restriction base="noEmptyNumericStringType"/> -->
		<!-- <xs:restriction base="pi:Stringa"/> -->
	</xs:simpleType>
	<!-- <xs:complexType name="statoPraticaType" abstract="true"> -->
	<xs:complexType name="statoPraticaType">
		<xs:annotation>
			<xs:documentation xml:lang="it">
				Stato di una generica pratica. 
				Eventualmente da estendere con specializzazioni per le specifiche tipologie di pratiche
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
			<!-- 
			<xs:enumeration value="BOZZA"/>
			<xs:enumeration value="COMPILATA"/>
			<xs:enumeration value="FORMALMENTE_CORRETTA"/>
			<xs:enumeration value="FORMALMENTE_NON_CORRETTA"/>
			<xs:enumeration value="ACCETTATA"/>
			<xs:enumeration value="RIFIUTATA"/>
		     -->
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="esitoValidazionePraticaType">
		<xs:sequence>
			<xs:element name="EsitoValidazione" type="statoValidazionePraticaType"/>
			<xs:element name="DescrizioneValidazione" type="xs:string" minOccurs="0"/>
			<xs:element name="AnomaliaValidazione" type="anomaliaPraticaType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="data" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<!-- <xs:complexType name="statoValidazionePraticaType" abstract="true"> -->
	
	<!-- Modificato in v0.9.8 
	<xs:complexType name="statoValidazionePraticaType">
		<xs:annotation>
			<xs:documentation xml:lang="it">
				Esito della validazione di una generica pratica. 
				Eventualmente da estendere con specializzazioni per le specifiche tipologie di pratiche
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="tipo-procedimento" type="tipoProcedimentoType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	 -->
	<xs:simpleType name="statoValidazionePraticaType">
		<xs:annotation>
			<xs:documentation xml:lang="it">
				Esito della validazione di una generica pratica. 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK_VALIDATA_CARICATA"/>
			<xs:enumeration value="ERRORE_GENERICO"/>
			<xs:enumeration value="ERRORE_VALIDAZIONE_FORMALE"/>
			<xs:enumeration value="ERRORE_VALIDAZIONE_LOGICA"/>
			<xs:enumeration value="ERRORE_VALIDAZIONE_DATI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="anomaliaPraticaType">
		<xs:sequence>
			<xs:element name="Tipo" type="tipoAnomaliaPraticaType"/>
			<xs:element name="Descrizione" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:complexType name="tipoAnomaliaPraticaType" abstract="true"> -->
	<xs:complexType name="tipoAnomaliaPraticaType">
		<xs:annotation>
			<xs:documentation xml:lang="it">
				Tipo per tracciare anomalie rilevate sul contenuto di una generica pratica. 
				Eventualmente da estendere con specializzazioni per le specifiche tipologie di pratiche
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
			<!-- Commentato in v0.9.8
				<xs:attribute name="tipo-procedimento" type="tipoProcedimentoType" use="required"/>
				 -->
			<!-- 
				<xsd:enumeration value="ERRORE_GENERICO"/>
				<xsd:enumeration value="ERRORE_MODELLO_A"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A1"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A2"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A3"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A4"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A5"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_SCHEDA_A6"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_DICHIARAZIONI"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_ALLEGATI"/>
				<xsd:enumeration value="ERRORE_MODELLO_A_DISTINTA_ALLEGATI"/>
				<xsd:enumeration value="ERRORE_MODELLO_B"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B1A"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B1B"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B2"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B3"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B4"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B5"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B6"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B7"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_SCHEDA_B8"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_ALLEGATI"/>
				<xsd:enumeration value="ERRORE_MODELLO_B_DISTINTA_ALLEGATI"/>
				<xsd:enumeration value="ERRORE_SCHEDA_1"/>
				<xsd:enumeration value="ERRORE_SCHEDA_1_VARIAZIONI"/>
				<xsd:enumeration value="ERRORE_SCHEDA_1_FORME_SPECIALI_VENDITA_AVVIO"/>
				<xsd:enumeration value="ERRORE_SCHEDA_1_FORME_SPECIALI_VENDITA_VARIAZIONI"/>
				<xsd:enumeration value="ERRORE_SCHEDA_2"/>
				<xsd:enumeration value="ERRORE_SCHEDA_3"/>
				<xsd:enumeration value="ERRORE_SCHEDA_4"/>
				<xsd:enumeration value="ERRORE_SCHEDA_4_TIPOLOGIA_RISCHI"/>
				<xsd:enumeration value="ERRORE_SCHEDA_5"/>
				<xsd:enumeration value="ERRORE_SCHEDA_6"/>
				<xsd:enumeration value="ERRORE_SCHEDA_6_VARIAZIONI"/>
				<xsd:enumeration value="ERRORE_SCHEDA_6_DIFFUSO"/>
			     -->
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="tipoProcedimentoDPR160Type">
		<xs:annotation>
			<xs:documentation xml:lang="it">
				12/03/2012 - Tipo estrapolato da schema pratica_suap-1.0.0.xsd dove e' definito inline nel tipo OggettoComunicazione e non puo' quindi essere referenziato e usato in altri schemi.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>Tipologie di procedimenti automatizzati previsti dal Capo Terzo dpr 160</xs:documentation>
			</xs:annotation>
			<xs:enumeration value="SCIA"/>
			<xs:enumeration value="silenzio-assenso"/>
			<xs:enumeration value="ordinario"/>
			<!-- <xs:enumeration value="altro"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoProcedimentoAltroType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FERCEL"/>
			<xs:enumeration value="FERPAS"/>
			<xs:enumeration value="FERAU"/>
			<xs:enumeration value="altro"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoProcedimentoType">
		<xs:union memberTypes="tipoProcedimentoDPR160Type tipoProcedimentoAltroType noEmptyStringType"/>
	</xs:simpleType>
	<!--
	<xs:complexType name="estremiEnteType">
		<xs:simpleContent>
			<xs:extension base="ps:EstremiEnte"/>
		</xs:simpleContent>
	</xs:complexType>
	-->
	
	<xs:complexType name="oggettoComunicazioneEstesoType">
		<xs:simpleContent>
			<xs:extension base="pi:Stringa">
				<xs:attribute name="tipo-procedimento" type="tipoProcedimentoType"/>
				<xs:attribute name="tipo-intervento" type="ps:TipoIntervento"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>
